// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos { compatible = "zmk,combos"; };

    macros {
        mpApp: mpApp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp P &kp LS(A) &kp P &kp P>;
            label = "MPAPP";
        };

        mpDoc: mpDoc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp P &kp LS(D) &kp O &kp C>;
            label = "MPDOC";
        };

        open: open {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp P &kp E &kp N>;
            label = "OPEN";
        };

        ls: ls {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp S>;
            label = "LS";
        };

        cd: cd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp D>;
            label = "CD";
        };

        onepass: onepass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp P &kp LS(A) &kp P &kp P &kp SPACE &kp N1 &kp LS(P) &kp A &kp S &kp S &kp W &kp O &kp R &kp D>;
            label = "ONEPASS";
        };

        icloud: icloud {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp LS(C) &kp L &kp O &kp U &kp D>;
            label = "ICLOUD";
        };

        code: code {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp O &kp D &kp E>;
            label = "CODE";
        };

        browse: browse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(B) &kp R &kp O &kp W &kp S &kp E &kp R>;
            label = "BROWSE";
        };

        cmd: cmd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(N0))>;
            label = "CMD";
        };

        closecmd: closecmd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(W)>;
            label = "CLOSECMD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qet {
            bindings = <
&kp Q      &kp W     &kp E  &kp R  &kp T        &kp Y          &kp U  &kp I  &kp O     &kp Z
&kp A      &kp S     &kp D  &kp F  &kp G        &kp H          &kp J  &kp K  &kp L     &kp P
&kp LSHFT  &kp LGUI  &kp C  &kp V  &kp B        &kp X          &kp N  &kp M  &kp LALT  &kp LCTRL
                            &mo 2  &kp SPACE    &kp BACKSPACE  &mo 1
            >;
        };

        layer_1 {
            bindings = <
&kp ESC  &kp N1  &kp N2  &kp N3  &trans    &kp CAPS    &kp C_PREVIOUS     &kp C_PLAY_PAUSE  &kp C_NEXT  &trans
&kp TAB  &kp N4  &kp N5  &kp N6  &trans    &kp LEFT    &kp DOWN           &kp UP            &kp RIGHT   &trans
&trans   &kp N7  &kp N8  &kp N9  &kp N0    &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &trans      &trans
                         &trans  &trans    &kp DELETE  &trans
            >;
        };

        layer_2 {
            bindings = <
&none   &none   &none      &none     &none     &none      &kp GRAVE  &kp MINUS  &kp EQUAL  &none
&none   &none   &none      &none     &none     &kp SEMI   &kp LBKT   &kp RBKT   &kp BSLH   &none
&trans  &trans  &kp LCTRL  &kp LALT  &none     &kp SQT    &kp COMMA  &kp DOT    &kp FSLH   &trans
                           &trans    &trans    &kp ENTER  &trans
            >;
        };

        layer_3 {
            bindings = <
&kp N1   &kp N2   &kp N3     &kp N4    &kp N5      &kp N1      &kp N1             &kp N1           &kp N1      &kp N1
&kp N6   &kp N7   &kp N8     &kp N9    &kp N0      &kp LEFT    &kp DOWN           &kp UP           &kp RIGHT   &kp CAPS
&kp ESC  &kp TAB  &kp LCTRL  &kp LALT  &kp LGUI    &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp DELETE  &kp LSHFT
                             &trans    &trans      &trans      &trans
            >;
        };
    };
};
